<header class="container-fluid p-0">
    <nav class="navPri px-2 px-md-5 w-100">
        <div class="">
            <img src="/images/logo.png" alt="logo" class="logoNav">
        </div>
        <div class="d-flex align-items-center flex-row">
            <ul class="d-flex flex-row m-0">
                <li class="mx-3">
                    <a href="#inicio">Inicio</a>
                </li>
                <li class="mx-3">
                    <a href="#servicios">Servicios</a>
                </li>
                <li class="mx-3">
                    <a href="#contactame">Contáctame</a>
                </li>
            </ul>
            <button class="navbar-toggler d-md-none btnMenu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <img src="/icons/menu.svg" alt="barra de menu" class="iconMenu" >
            </button>
        </div>

    </nav>
    <nav>
        <div class="offcanvas offcanvas-end barraMenu" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body bg-white">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#contactame">Contáctame</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>