<section class="presentacion row row-cols-2 gx-0" id="inicio">
    <div class="d-flex flex-column justify-content-center w-100 ctnPresenIn">
        <div class="ms-1 ms-md-5">
            <h1>
                Otorrinolaringólogo en Monterrey
            </h1>
            <p class="pPresentacion">
                El Dr. <strong>Jorge Treviño Garza</strong> es un 
                <strong>otorrinolaringólogo en Monterrey</strong> que cuenta con especialidad en cirugía Plastica Facial, es un médico que constantemente se actualiza con el fin de mejorar sus servicios a los pacientes.
            </p>
        </div>
    </div>
</section>
<section class="container mb-5" id="servicios">
    <div class="row mt-5 mb-1">
        <h2 class="title2 mt-5 text-center">
            Servicios del <strong>Otorrinolaringólogo en Monterrey</strong>
        </h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 gy-4">
        <div class="col d-flex justify-content-center">
            <div class="card cardServicios position-relative">
                <img src="/images/consultaMedica.jpg" alt="otorrinolaringologo en monterrey" class="card-img-top imgSer">
                <div class="cardBodySer w-100 d-flex justify-content-center align-items-center">
                    <h5 class="text-center">Consulta</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card cardServicios position-relative">
                <img src="/images/radiofrecuenciaCornetes.jpg" alt="otorrinolaringologo en monterrey" class="card-img-top imgSer">
                <div class="cardBodySer w-100 d-flex justify-content-center align-items-center">
                    <h5 class="text-center">Radiofrecuencia de Cornetes</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card cardServicios position-relative">
                <img src="/images/cirugia.jpg" alt="otorrinolaringologo en monterrey" class="card-img-top imgSer">
                <div class="cardBodySer w-100 d-flex justify-content-center align-items-center">
                    <h5 class="text-center">Cirugia endoscópica para sinusitis</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card cardServicios position-relative">
                <img src="/images/cirugiaTabiqueNasal.jpg" alt="otorrinolaringologo en monterrey" class="card-img-top imgSer">
                <div class="cardBodySer w-100 d-flex justify-content-center align-items-center">
                    <h5 class="text-center">Cirugia de Tabique nasal</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card cardServicios position-relative">
                <img src="/images/endoscopiaNasal.jpg" alt="otorrinolaringologo en monterrey" class="card-img-top imgSer">
                <div class="cardBodySer w-100 d-flex justify-content-center align-items-center">
                    <h5 class="text-center">Endoscopia Nasal</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card cardServicios position-relative">
                <img src="/images/pediatria.jpg" alt="otorrinolaringologo en monterrey" class="card-img-top imgSer">
                <div class="cardBodySer w-100 d-flex justify-content-center align-items-center">
                    <h5 class="text-center">Otorrinolaringología Pediátrica</h5>
                </div>
            </div>
        </div>
</section>
<section class="my-5 container">
    <div class="row">
        <h2 class="title2 mt-5 text-center">
            Te mereces un alto nivel de atención por parte de un <strong>Otorrinolaringólogo</strong> de vanguardia, por lo que el <strong>Dr. Jorge Treviño Garza especialista</strong> en padecimiento de los oídos.
        </h2>
    </div>
</section>
<section class="container" id="contactame">
    <div class="row row-cols-1 row-cols-md-2 gy-5">
        <div class="col">
            <div class="d-flex flex-column justify-content-center">
                <h2 class="text-center">Contáctame</h2>
                <div>
                    Agenda una consulta por whatsapp al número:  8115448285 <br>
                    o mediante una llamada al  8183475220 <br>
                    nuestro correo: jorgetrega@gmail.com <br>
                    Lunes a Sábado <br>
                    9:00 a 19:00 hrs <br>
                    Da clic en el botón de WhatsApp para contactarnos para saber más sobre el <a href="#"><u>otorrinolaringólogo en Monterrey.</u></a> 
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h2 class="text-center">Agenda tu cita</h2>
            </div>
            <div class="row">
                <div class="col flex-grow-1">
                    <div class="ctn-calendar w-100">
                        <div class="calendar rounded mt-0">
                            <div class="ms-3">
                                Calendario
                            </div>
                            <div class="calendar__info d-flex flex-row justify-content-between px-3 border border-top-0 border-start-0 border-end-0">
                                <div class="d-flex flex-row">
                                    <div class="calendar__month" id="month"></div>
                                    <div class="calendar__year ms-2" id="year"></div>
                                </div>
                                <div class="d-flex flex-row">
                                    <img src="/icons/keyboardArrowLeft.svg" class="keyboardArrow" id="prev-month"/>
                                    <img src="/icons/keyboardArrowRight.svg" id="next-month" class=" ms-4 keyboardArrow" />
                                </div>
                            </div>
                            <div class="calendar__week container-fluid">
                                <div class="calendar__day calendar__item d-none d-md-block">LUN</div>
                                <div class="calendar__day calendar__item d-block d-md-none">L</div>
                                <div class="calendar__day calendar__item d-none d-md-block">MAR</div>
                                <div class="calendar__day calendar__item d-block d-md-none">M</div>
                                <div class="calendar__day calendar__item d-none d-md-block">MIER</div>
                                <div class="calendar__day calendar__item d-block d-md-none">X</div>
                                <div class="calendar__day calendar__item d-none d-md-block">JUE</div>
                                <div class="calendar__day calendar__item d-block d-md-none">J</div>
                                <div class="calendar__day calendar__item d-none d-md-block">VIER</div>
                                <div class="calendar__day calendar__item d-block d-md-none">V</div>
                                <div class="calendar__day calendar__item d-none d-md-block">SAB</div>
                                <div class="calendar__day calendar__item d-block d-md-none">S</div>
                                <div class="calendar__day calendar__item d-none d-md-block">DOM</div>
                                <div class="calendar__day calendar__item d-block d-md-none">D</div>
                            </div>
                            <div class="calendar__dates" id="dates"></div>
                        </div>
                    <div class="d-flex justify-content-center">
                        <a href="/reservarCita" class="btnReservarCi rounded">
                            RESERVAR TU CITA
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container my-5 py-5">
    <div class="row row-cols-1 row-cols-md-2 gy-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Visitanos para que seas atendido con la atención que te mereces en  
                     Centro de Especialidades Médicas
                    1er piso consultorio 126 Jose Benitez No 2704 Colonia obispado Monterrey NL CP 64060
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body ref">
                    <h3>
                        El <strong>otorrinolaringólogo en Monterrey Jorge Treviño</strong> es ahora uno de los médicos más importantes en su campo gracias a su contribución a la investigación y la prevención.
                    </h3>

                </div>
            </div>
        </div>
    </div>
</section>